.productCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 403px;
    border: 1px solid #1c0f92;
}

.imgSale {
    border: 2px solid silver;
    background-color: #1C62CD;
}

.imgHeart {
    border: 2px solid silver;
}

.imgProduct {
    border: 2px solid silver;
}

.text {
    border: 2px solid silver;
}

.Availability {
    border: 2px solid silver;
}

.message {
    border: 2px solid silver;
}

.Price {
    border: 2px solid silver;
}

.btnCart {
    border: 2px solid silver;
    background-color: #1C62CD;
}