$way-img: '../assets/images';
$way-fonts: './../../assets/fonts';

// font
$SfProBold:'SfProBold';
$SFProSemibold:'SFProSemibold';
$SFProMedium:'SFProMedium';
$SFProRegular:'SFProRegular';
$ProximaNova:'ProximaNova';
$Barlow:'Barlow';

// global variable
$main-color: #22356F;
$sub-color: #fff;
$color-logo:#62D0DF;


