$way-img: '../assets/images';
$way-fonts: '../assets/fonts';

// font
$LarsseitRegular:'LarsseitRegular';
$LarsseitBold:'LarsseitBold';
$LarsseitMedium:'LarsseitMedium';

// global variable
$main-color: #22356F;
$sub-color: #fff;
$color-logo:#62D0DF;


