$way-img: '../assets/images';
$way-fonts: './../../assets/fonts';

// font
$SFProSemibold:'SFProSemibold';
$SFProRegular:'SFProRegular';
$SFProMedium:'SFProMedium';
$SfProBold:'SfProBold';
$ProximaNova:'ProximaNova';
$Staatliches:'Staatliches';
$Barlow:'Barlow';
$BarlowRegular:'BarlowRegular';


// global variable
$main-color: #2F3035;
$sub-color: #1C62CD;
$color-logo:#62D0DF;

//variable
$cardSpan:#C4C4C4;


