@import "./../../../scss/abstracts/elements/elements";
@import "./../../../scss/abstracts/mixins/mixins";
@import "./../../../scss/abstracts/variable/variable";

.header{
	.header__wrapper{
		display: flex;
		justify-content: space-between;
	}
	.menu{
		.list{
			display: flex;
			align-items: center;
			.item:not(:last-of-type){
				margin-right: 50px;
			}
		}
	}
	.text{
		@include font4(20px,24px,$SfProBold,$main-color)
	}
	.logo{
		@include flex-j-a(center,center,column);
		margin-top: 25px;
	
		position:absolute;
		top:0;
		left:51%;
		
		transform:translateX(-50%);
		.title{
			margin-top: 10px;
			font-family:$Staatliches;
		}
	}
	.row{
		display: flex;

		.wrapperBlock{
			display: flex;
			align-items: center;

			&:first-child{
				margin-right: 85px;
			}

			.icon{
				margin-right: 10px;
				cursor: pointer;
			}

			.counter .icon{
				margin-right: 0;
			}

			.counter{
				position: relative;

				.number{
					@extend %flexCenter;
					@include size(20px);
				
					position:absolute;
					bottom:-10px;
					right:-15px;
				
					@include font4(10px,12px,$SFProMedium,#fff);
				
					border-radius: 50%;
					background-color:$sub-color;
				}
			}
		}
	}
	@media screen and(max-width:992px) {
		.menu{
			.list{
				.item:not(:last-of-type){
					margin-right: 25px;
				}
			}
		}

		.logo{
			img{
				display: none;
			}
			.title{
				margin-top: 35px;
				font-family:$Staatliches;
			}
		}
		.row{
			.wrapperBlock{
				&:first-child{
					margin-right: 35px;
				}
			}
		}
		
	}
}

