@import "./../../../scss/abstracts/variable/variable";
@import "./../../../scss/base/fonts";
@import "./../../../scss/abstracts/mixins/mixins";


.menuLabel{
    @include font4(16px,1.2,$SFProSemibold,$main-color);
    position: relative;

    display: block;
    padding: 0 0 19px 25px;
    margin-top: 40px;
    
}
.menuLabel::before {
    content: "";
    display: block;
    background-image: url("./../../../assets/images/PageCatalog/Shape.png");
    @include size(12px, 7.5px);

    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(50%);
    z-index: 1;


}

// .menuLabel::after {
//     content: "";
//     display: block;
//     background-image: url("./../../../assets/images/PageCatalog/ExpandMoreUp.png");
//     @include size(12px, 7.5px);

//     position: absolute;
//     top: 0;
//     left: 0;
//     transform: translateY(50%);
//     z-index: 2;

//     opacity: 0;
// }

.menuContent {
    display: flex;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
}

.menuInput {
    display: none;
}

.menuInput:checked ~ .menuContent {
    height: 20px;
    overflow-y: auto;
}

// .menuInput:checked + .menuLabel::after{
//     opacity: 1;
// }
// .menuInput:checked + .menuLabel::before{
//     opacity: 0;
// }
.menuInput:checked + .menuLabel::before{
    transform: rotate(180deg);
}