@import "./../../../../scss/abstracts//variable/variable";
@import "./../../../../scss/base/fonts";


.classLink {
    color: rgba(196, 196, 196, 1);
    margin-right: 26px;

	 font-family: $SFProRegular;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: -0.4px;
    position: relative;
}
.classLink:hover {
    color: darken($color: rgba(196, 196, 196, 1), $amount: 30) ;
}

.classLink:not(:last-child)::after {
    content: "";
    width: 6px;
    height: 10px;
    background-image: url("./../../../../assets/images/PageCatalog/BackBraedCrumbs.png");
    position: absolute;
    background-repeat: no-repeat;
    top: 6px;
    right: 10px;
    ;
}