@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ExtraBold.eot');
    src: local('Barlow ExtraBold'), local('Barlow-ExtraBold'),
        url('Barlow-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Barlow-ExtraBold.woff2') format('woff2'),
        url('Barlow-ExtraBold.woff') format('woff'),
        url('Barlow-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ExtraLight.eot');
    src: local('Barlow ExtraLight'), local('Barlow-ExtraLight'),
        url('Barlow-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Barlow-ExtraLight.woff2') format('woff2'),
        url('Barlow-ExtraLight.woff') format('woff'),
        url('Barlow-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Regular.eot');
    src: local('Barlow Regular'), local('Barlow-Regular'),
        url('Barlow-Regular.eot?#iefix') format('embedded-opentype'),
        url('Barlow-Regular.woff2') format('woff2'),
        url('Barlow-Regular.woff') format('woff'),
        url('Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Barlow';
    src: url('Barlow-MediumItalic.eot');
    src: local('Barlow Medium Italic'), local('Barlow-MediumItalic'),
        url('Barlow-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Barlow-MediumItalic.woff2') format('woff2'),
        url('Barlow-MediumItalic.woff') format('woff'),
        url('Barlow-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-BlackItalic.eot');
    src: local('Barlow Black Italic'), local('Barlow-BlackItalic'),
        url('Barlow-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Barlow-BlackItalic.woff2') format('woff2'),
        url('Barlow-BlackItalic.woff') format('woff'),
        url('Barlow-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ThinItalic.eot');
    src: local('Barlow Thin Italic'), local('Barlow-ThinItalic'),
        url('Barlow-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Barlow-ThinItalic.woff2') format('woff2'),
        url('Barlow-ThinItalic.woff') format('woff'),
        url('Barlow-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Italic.eot');
    src: local('Barlow Italic'), local('Barlow-Italic'),
        url('Barlow-Italic.eot?#iefix') format('embedded-opentype'),
        url('Barlow-Italic.woff2') format('woff2'),
        url('Barlow-Italic.woff') format('woff'),
        url('Barlow-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ExtraLightItalic.eot');
    src: local('Barlow ExtraLight Italic'), local('Barlow-ExtraLightItalic'),
        url('Barlow-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Barlow-ExtraLightItalic.woff2') format('woff2'),
        url('Barlow-ExtraLightItalic.woff') format('woff'),
        url('Barlow-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Light.eot');
    src: local('Barlow Light'), local('Barlow-Light'),
        url('Barlow-Light.eot?#iefix') format('embedded-opentype'),
        url('Barlow-Light.woff2') format('woff2'),
        url('Barlow-Light.woff') format('woff'),
        url('Barlow-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ExtraBoldItalic.eot');
    src: local('Barlow ExtraBold Italic'), local('Barlow-ExtraBoldItalic'),
        url('Barlow-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Barlow-ExtraBoldItalic.woff2') format('woff2'),
        url('Barlow-ExtraBoldItalic.woff') format('woff'),
        url('Barlow-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-SemiBold.eot');
    src: local('Barlow SemiBold'), local('Barlow-SemiBold'),
        url('Barlow-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Barlow-SemiBold.woff2') format('woff2'),
        url('Barlow-SemiBold.woff') format('woff'),
        url('Barlow-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-BoldItalic.eot');
    src: local('Barlow Bold Italic'), local('Barlow-BoldItalic'),
        url('Barlow-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Barlow-BoldItalic.woff2') format('woff2'),
        url('Barlow-BoldItalic.woff') format('woff'),
        url('Barlow-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Black.eot');
    src: local('Barlow Black'), local('Barlow-Black'),
        url('Barlow-Black.eot?#iefix') format('embedded-opentype'),
        url('Barlow-Black.woff2') format('woff2'),
        url('Barlow-Black.woff') format('woff'),
        url('Barlow-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Medium.eot');
    src: local('Barlow Medium'), local('Barlow-Medium'),
        url('Barlow-Medium.eot?#iefix') format('embedded-opentype'),
        url('Barlow-Medium.woff2') format('woff2'),
        url('Barlow-Medium.woff') format('woff'),
        url('Barlow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-LightItalic.eot');
    src: local('Barlow Light Italic'), local('Barlow-LightItalic'),
        url('Barlow-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Barlow-LightItalic.woff2') format('woff2'),
        url('Barlow-LightItalic.woff') format('woff'),
        url('Barlow-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-SemiBoldItalic.eot');
    src: local('Barlow SemiBold Italic'), local('Barlow-SemiBoldItalic'),
        url('Barlow-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Barlow-SemiBoldItalic.woff2') format('woff2'),
        url('Barlow-SemiBoldItalic.woff') format('woff'),
        url('Barlow-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Thin.eot');
    src: local('Barlow Thin'), local('Barlow-Thin'),
        url('Barlow-Thin.eot?#iefix') format('embedded-opentype'),
        url('Barlow-Thin.woff2') format('woff2'),
        url('Barlow-Thin.woff') format('woff'),
        url('Barlow-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

