@import "./../../../scss/abstracts/elements/elements";
@import "./../../../scss/abstracts/mixins/mixins";
@import "./../../../scss/abstracts/variable/variable";

// .show {
//     cursor: pointer;
//     @include font4(14px,17px,$SFProRegular,$sub-color);
//     text-decoration-line: underline;
//     &:hover {
//         border-bottom: 2px solid;
//     }
//     background-color: white;
// }
.wrap {
    display: flex;
    // justify-content: center;
}

.buy {
    @include font4(13px, 16px, $SFProRegular, white);
    text-align: center;
    background-color: $sub-color;
    width: 140px;
    height: 35px;
    border-radius: 3px;
    // position: absolute;
    // left: 0;
    // bottom: 0;
    // margin-top: 45px;
}