@import "./../../../scss/abstracts/elements/elements";
@import "./../../../scss/abstracts/mixins/mixins";
@import "./../../../scss/abstracts/variable/variable";

.PageMain{
	.banner{
		display: flex;
		justify-content: space-between;
	}
	
	.Search{
		margin: 80px 0;
		.SearchTop{
			margin-bottom: 25px;
			.SearchText{
				display: inline-block;
				padding:10px 20px;
			
				@include font5(20px,24px,$SfProBold,$main-color,center);
			
				border-radius: 5px;
			
				transition: background 500ms ease;
				cursor: pointer;
				&:hover{
					background: #F0F0F4;
				}
			}
		}
	}
	
	.SearchInput{
		position: relative;
		
		.input{
			@include size(100%,50px);
		
			@include font2(16px,19px);
			text-indent: 50px;
		
			background: #F0F0F4;
			border-radius: 3px;
			
			&::placeholder{
				transform: scale(1);
				transition: transform 500ms ease;
			}
			&:focus::placeholder{
				transform: scale(0);
			}
		}
	
		.button{
			@include size(145px,100%);
		
			position:absolute;
			top:0;
			right: 0;
		
			@include font4(14px,17px,$SfProBold,#fff);
		
			letter-spacing: 0.12em;
			text-transform: uppercase;
		
			border-radius: 3px;
			background-color:$sub-color;
		
			transition:background-color 200ms ease ;
	
			&:hover{
				background-color: transparentize($sub-color, 0.15);
			}
		}
	}
	
	.discount{
		@extend %flexCenter;
		min-height: 165px;
		margin: 80px 0;
		background: $sub-color;
		.discountTitle{
			max-width: 280px;
			margin: 0 50px;
			@include font4(36px,36px,$SfProBold,#fff);
		}
		.discountImg{
			transition: all 500ms ease;
		}
		.discountLink{
			@extend %flexCenter;
			min-height: 60px;
			padding: 0 40px;

			@include font5(24px,24px,$SFProMedium,$main-color,center);

			background: #FFFFFF;
		}
	}
	@media screen and(max-width:1050px){
		.discount{
			&:hover {
				.discountImg{
					transition: all 500ms ease;
					transform: scale(1.2);
				}
			}
		}
	}
	@media screen and(max-width:992px){
		.discount{
			padding: 30px 0;
			flex-direction: column;
			.discountTitle{
				margin: 25px 0;
				text-align: center;
			}
		}
		.banner{
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	
}


