@import "./../../../scss/abstracts/variable/variable";
@import "./../../../scss/base/fonts";

.sortingLink {
    color: rgba(47, 48, 53, 1);
	 background-color: rgba(240, 240, 244, 1);
    font-size: 14px;
    font-family: $SFProRegular;
    letter-spacing: -0,4px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 10px;
    padding: 4px 23px
}