@import "./../../../scss/abstracts/variable/variable";
@import "./../../../scss/base/fonts";


.footer {
    background-color: rgba(240, 240, 244, 1);
}
.footer-top {
    display: flex;
    padding: 43px 0 46px 0;
}
.footer-title-email {
    max-width: 232px;
    width: 100%;
    margin-bottom: 34px;
    font-family: $SfProBold;
    font-size: 14px;
    color:$main-color;
    letter-spacing: -0.4px;
}
.footer-styles {
    display: flex;
}
.footer-title {
    font-family: $SfProBold;
    font-size: 14px;
    color:$main-color;
    line-height: 1.5;
    letter-spacing: -0.4px;
}
.footer-item {
    font-family: $SFProRegular;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.4px;
}
.footer-link {
    color:$main-color;
}
.footer-information-box {
    margin-left: 144px;
}
.footer-online-shop-box {
    margin: 0 100px 0 100px;
}
.footer-social {
    display: flex;
    justify-content: center;
    align-items:center;
}
.footer-icon {
    margin-right: 30px;
}
.footer-icon:last-child {
    margin-right: 76px;
}
.footer-bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 27px;
}
.footer-bottom-offen {
    transform: translateX(51px);
    display: flex;
}
.footer-offer {
    font-family: $SFProRegular;
    font-size: 10px;
    color:$main-color;
}
.footer-offer:first-child {
    margin-right: 81px;
}