@import "./../../../scss/abstracts/variable/variable";
@import "./../../../scss/abstracts/elements/elements";
@import "./../../../scss/abstracts/mixins/mixins";
@import "./../../../scss/base/fonts";

.catalog {
    display: grid;
    grid-template-columns: 270px 270px 270px;
	gap: 33px;

	@media screen and(max-width:992px) {
		grid-template-columns: 270px 270px;
	}
	@media screen and(max-width:576px) {
		grid-template-columns: 270px;
	}
}