

.grid {
    // font-size: 50px;
    text-align: center;
    display: grid;
    max-height: 100vh;
    grid-template-columns: 340px 35px 38px 562px 572px 103px 270px;
    grid-template-rows: 27px 153px 97px 589px 200px 484px 712px 232px;
    

}

.empty {
    background-color: rgb(247, 218, 218);
    border: 2px solid silver;
    grid-column-start: 1;
    grid-column-end: 8;
}

.header {
    background-color: rgb(247, 218, 218);
    border: 2px solid silver;
    grid-column-start: 3;
    grid-column-end: 6;
}

.breadCrumb {
    background-color: rgb(247, 218, 218);
    border: 2px solid silver;
    grid-column-start: 3;
    grid-column-end: 6;
}

.containerCards {
    background-color: rgb(247, 218, 218);
    border: 2px solid silver;
    grid-column-start: 3;
    grid-column-end: 6;
}
.navigation {
    background-color: rgb(247, 218, 218);
    border: 2px solid silver;
    grid-column-start: 3;
    grid-column-end: 6;
}
.infoShop {
    background-color: rgb(247, 218, 218);
    border: 2px solid silver;
    grid-column-start: 4;
    grid-column-end: 6;
}

.innerCards {
    background-color: rgb(247, 218, 218);
    border: 2px solid silver;
    grid-column-start: 2;
    grid-column-end: 7;
}
.footer {
    background-color: rgb(247, 218, 218);
    border: 2px solid silver;
    grid-column-start: 1;
    grid-column-end: 8;
}
