@import "./../../../scss/abstracts/variable/variable";
.btn{
    width: 109px;
    height: 33px;
    background-color: $sub-color;
    border: none;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
}