@import "./../../../scss/abstracts/variable/variable";
@import "./../../../scss/abstracts/elements/elements";
@import "./../../../scss/abstracts/mixins/mixins";
@import "./../../../scss/base/fonts";


.options {
    max-width: 290px;
    width: 100%;
    border: 1px solid green;
	@media screen and(max-width:992px) {
		display: none;
	}
}

// =========кнопки верхнии========= //
.titleMenu {
    margin-bottom: 41px;
}
.btntitleOption {
    @include font4(16px, 1.5, $SfProBold, $main-color);
    letter-spacing: 1px;
    margin-right: 32px;
    background-color: white;
    box-sizing: border-box;
    border-bottom: 2px solid $sub-color;
    text-transform: uppercase;
}
.btntitleBrand {
    @include font4(16px, 1.5, $SfProBold, $cardSpan);
    letter-spacing: 1px;
    margin-right: 32px;
    background-color: white;
    box-sizing: border-box;
    text-transform: uppercase;
}


// =========кнопки нижнии========= //
.leftSectionBtnSelect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnSelect {
    max-width: 250px;
    width: 100%;
    height: 50px;
    background-color: #F0F0F4;
    @include font4(15px, 1.2, $SFProRegular, #BDBEC2);
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin:40px 0 15px 0;
}

.btnSelectDown {
    @include font4(13px, 1.2, $SFProRegular, $main-color);
    background-color: #fff;
    position: relative;
    margin-bottom: 15px;
}
.btnSelectDown::after {
    content: "";
    @include size(12px, 7.5px);
    background-image: url("./../../../assets/images/PageCatalog/Shape.png");

    position: absolute;
    top: 50%;
    right: -30px;
    transform:translateY(-50%);
}

.btnSelectReset {
    @include font4(13px, 1.2, $SFProRegular, #C4C4C4);
    background-color: #fff;
    border-bottom: 1px solid #C4C4C4;
}