.menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
	width: 243px;
	height: 100%;
	background-color: #fff;
	box-shadow: 0 0 15px #000;
	transform: translateX(-110%);
	transition: transform 500ms ease;

	@media screen and(max-width:992px) {
		display: block;
	}
}

.active {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
	width: 243px;
	height: 100%;
	background-color: #fff;
	box-shadow: 0 0 15px #000;
	transform: translateX(0%);
	transition: transform 500ms ease;

	@media screen and(max-width:992px) {
		display: block;
	}
}

.list{
	display: flex;
	flex-direction: column;
}

.item {
	padding-top: 36px;
	padding-left: 53px;
}

.link {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 400;
	color: #2F3035;
}

.link:hover {
	font-weight: 700;
	text-decoration: underline;
}