@import "./../../../scss/abstracts/elements/elements";
@import "./../../../scss/abstracts/mixins/mixins";
@import "./../../../scss/abstracts/variable/variable";

.aboutProduct {
    // border: 5px solid lightgreen;
    display: flex;
    justify-content: space-around;
    margin: 45px 0;
}

// ------------bigCard
.bigCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.bigImage {
    margin-top: 64px;
    max-width: 500px;
    max-height: 375px;
}

.lastPrice {
    @include font4(30px, 36px, $Barlow, $main-color);
    // font-weight: normal;
    opacity: 0.6;
    position: relative;

    &::after {
        position: absolute;
        display: inline-block;
        content: "";
        background-color: $main-color;
        width: 140px;
        height: 2px;
        bottom: 15px;
        left: 5px;
        transform: rotate(172deg);
    }
}

.price {
    @include font4(40px, 48px, $Barlow, $main-color);
    font-weight: bold;
    margin: 12px 0 17px;
}

.message {
    @include font4(15px, 18px, $SFProRegular, $sub-color);

    &:hover {
        // text-decoration: underline;
        border-bottom: 3px solid;
    }
}

// ------------infoCard
.infoCard {
    position: relative;
}

.title {
    @include font4(30px, 36px, $SfProBold, $main-color);
    margin-bottom: 10px;
}

.code {
    @include font4(15px, 18px, $SFProRegular, $main-color);

}

.images {
    display: flex;
    align-items: flex-end;
    // flex-direction: row;
    margin: 22px 0 35px;
}

.like,
.recs {
    margin-right: 25px;
}

.recs {
    display: flex;
    align-items: flex-end;
}

.recs,
.rec {
    margin-right: 4px;
}

.stars {
    margin-left: 25px;
}

// ------------table
.table {
    display: table;
    max-width: 436px;
    margin-bottom: 20px;
    border-collapse: collapse;

}

tr {
    border-bottom: 1px solid rgb(231, 227, 227);

    // opacity: 0.6;
    &:hover {
        // border-bottom: 3px solid $sub-color;
        // text-decoration: underline;
        // text-decoration-color: $sub-color;
    }

    &:first-child {
        border-bottom: none;
    }
}

th {
    text-align: left;
    /* Выравнивание по левому краю */
    @include font4(20px, 24px, $SFProRegular, $main-color);
    font-weight: 400;
    opacity: 0.6;

    &:hover {
        text-decoration: underline;
        text-decoration-color: $sub-color;
        opacity: 1;
    }

    &:active {
        font-weight: bold;
        border-bottom: 3px solid $sub-color;
    }
}

td {
    @include font4(20px, 24px, $SFProRegular, $main-color);
}

#rightcol {
    width: 242px;
    padding-left: 93px;
}

#leftcol,
#rightcol {
    &:hover {
        text-decoration: underline;
        text-decoration-style: 5px solid;
        text-decoration-color: $sub-color;
    }
}

th,
td {
    padding: 15px 0px 6px;
}

// --------- ссылка
.show {
    @include font4(14px, 17px, $SFProRegular, $sub-color);

    &:hover {
        text-decoration-line: underline;
    }
}

// ---------- кнопка
.btnBuy {
    @include font4(14px, 17px, $SFProRegular, white);
    text-align: center;

    background-color: $sub-color;
    width: 177px;
    height: 50px;
    border-radius: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 45px;
}