@import "./../../../scss/abstracts/elements/elements";
@import "./../../../scss/abstracts/mixins/mixins";
@import "./../../../scss/abstracts/variable/variable";

.aboutProduct {
    // border: 5px solid lightgreen;
    display: flex;
    justify-content: space-around;
    margin: 45px 0 80px;
}

// ------------bigCard
.bigCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.bigImage {
    margin-top: 64px;
    max-width: 500px;
    // width: 150%;
    max-height: 375px;
}

.lastPrice {
    @include font4(30px, 36px, $Barlow, $main-color);
    // font-weight: normal;
    opacity: 0.6;
    position: relative;

    &::after {
        position: absolute;
        display: inline-block;
        content: "";
        background-color: $main-color;
        width: 140px;
        height: 2px;
        bottom: 15px;
        left: 5px;
        transform: rotate(172deg);
    }
}

.price {
    @include font4(40px, 48px, $Barlow, $main-color);
    font-weight: bold;
    margin: 12px 0 17px;
}

.message {
    @include font4(15px, 18px, $SFProRegular, $sub-color);

    &:hover {
        // text-decoration: underline;
        border-bottom: 3px solid;
    }
}

// ------------infoCard
.infoCard {
    position: relative;
}

.title {
    @include font4(30px, 36px, $SfProBold, $main-color);
    margin-bottom: 10px;
}

.code {
    @include font4(15px, 18px, $SFProRegular, $main-color);

}

.images {
    display: flex;
    align-items: flex-end;
    // flex-direction: row;
    margin: 22px 0 35px;
}

.like,
.recs {
    margin-right: 25px;
}

.recs {
    display: flex;
    align-items: flex-end;
}

.recs,
.rec {
    margin-right: 4px;
}

.stars {
    margin-left: 25px;
}

// ------------table
.table {
    display: table;
    max-width: 436px;
    margin-bottom: 20px;
    border-collapse: collapse;

}

tr {
    border-bottom: 1px solid rgba(0, 0, 0, .12);

    // opacity: 0.6;
    &:hover {
        border-bottom: 3px solid $sub-color;
        // text-decoration: none;
        // text-decoration-color: $sub-color;
    }

    &:first-child {
        border-bottom: none;
    }
}

th {
    text-align: left;
    @include font4(20px, 24px, $SFProRegular, $main-color);
    font-weight: 400;
    opacity: 0.6;

    &:hover {
        text-decoration: underline;
        text-decoration-color: $sub-color;
        opacity: 1;
    }

    &:active {
        font-weight: bold;
        border-bottom: 3px solid $sub-color;
    }
}

td {
    @include font4(20px, 24px, $SFProRegular, $main-color);
}

#rightcol {
    width: 242px;
    padding-left: 93px;
}

#leftcol,
#rightcol {
    &:hover {
        text-decoration: underline;
        text-decoration-style: 5px solid;
        text-decoration-color: $sub-color;
    }
}

th,
td {
    padding: 15px 0px 6px;
}

// ------------selfdelivery, grid
.selfdelivery {
    padding-left: 38px;
    // border: 2px solid rgb(199, 248, 125);
}

.header {
    padding-bottom: 50px;
    @include font4(17px, 20px, $SFProRegular, $main-color);
    opacity: 0.7;
    display: flex;
    align-items: center;
}

// -------------------- inputShop
.label {
    position: relative;

    &::after {
        display: inline-block;
        content: "";
        background-image: url(./../../../assets/images/svg/loupe.svg);
        background-size: cover;
        opacity: 0.3;
        width: 16px;
        height: 16px;
        right: 117px;
        bottom: 0px;
        z-index: 9999;
        position: absolute;
    }

    .inputShop {
        margin: 0 100px 0 17px;
        min-width: 313px;
        height: 33px;
        background: #F0F0F4;
        border-radius: 3px;
        padding: 17px;

        &:hover {
            border: 2px solid $sub-color;
        }

        &::-webkit-input-placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
        }

        &::-moz-placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
        }

        &:-moz-placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
        }

        &:-ms-input-placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
        }

        &:focus::-webkit-input-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:focus::-moz-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:focus:-moz-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:focus:-ms-input-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
        }
    }
}

// -------------------radio-buttons

//  .radio {
//     display: none;
//   }

//   .labelRadio {
//     display: inline-block;
//     padding: 5px 10px;
//     cursor: pointer;
//   }

//   .labelRadio span {
//     position: relative;
//     line-height: 22px;
//   }

//   .labelRadio span:before,
//   .labelRadio span:after {
//     content: '';
//   }

//   .labelRadio span:before {
//     border: 1px solid $sub-color;
//     width: 20px;
//     height: 20px;
//     margin-right: 10px;
//     display: inline-block;
//     vertical-align: top;
//   }

//   .labelRadio span:after {
//     background: $sub-color;
//     width: 14px;
//     height: 14px;
//     position: absolute;
//     top: 2px;
//     left: 3px;
//     // transition: 500ms;
//     opacity: 0;
// }
//   .labelRadio .radio:checked+span:after {
//     opacity: 1;
//   }

//   /* стили для радиокнопки, находящейся в состоянии checked */
//   .labelRadio>input:checked+span::before {
//     border-color: #0b76ef;
//     // background-color: #0b76ef;
//   }

//   /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
//   .labelRadio>input:focus:not(:checked)+span::before {
//     border-color: #80bdff;
//   }

// ----------------radio new
.radio {
    margin-bottom: 0.2em;
    padding-right: 55px;
    &:hover {
        text-decoration: underline;
        text-decoration-color: $sub-color;
    }
}
/* для элемента input c type="radio" */
.customRadio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.customRadio>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.customRadio>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    margin-right: 18px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.customRadio>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #b3d7ff;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.customRadio>input:active+span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

/* стили для радиокнопки, находящейся в фокусе */
.customRadio>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.customRadio>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.customRadio>input:checked+span::before {
    border-color: $sub-color;
    background-color: $sub-color;
}


// ---------------------- grid
.gridWrapper {
    display: grid;
    grid-template-columns: 27% 22% 18% 33%;
    grid-auto-rows: minmax(70px, auto);
    grid-row-gap: 20px;

    @include font4(16px, 24px, $SFProRegular, $main-color);
}

.gridWrapper:hover>.gridItem {
    // border-bottom: 2px solid $sub-color;
}

.gridItem {
    // border: 2px solid lightgray;
    // background-color: rgb(218, 244, 253);
    border-bottom: 3px solid rgba(0, 0, 0, .12);

    &:hover {
        border-bottom: 3px solid $sub-color;
        //text-decoration: none;
        //text-decoration-color: $sub-color;
        text-decoration: underline;
        text-decoration-color: $sub-color;
    }

    &:first-child,
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
        border-bottom: none;
    }
}

#item12,
#item16,
#item20,
#item24 {
    display: flex;
    justify-content: space-between;
}

#item5,
#item6,
#item7,
#item8 {
    @include font4(20px, 24px, $SFProRegular, $main-color);
}
