@import "./../../../scss/abstracts/elements/elements";
@import "./../../../scss/abstracts/mixins/mixins";
@import "./../../../scss/abstracts/variable/variable";

.pageProduct {
    border: 5px solid lightgreen;
    display: flex;
    justify-content: space-around;
}

.wrapper {
//     width: 570px;
// height: 589px;
    // @include flex-j-a(center,center,row);
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
}


.title {
    @include font4(30px,36px,$SfProBold,$main-color);
}

.btnBuy {
    background-color: $sub-color;
    width: 177px;
    height: 50px;
    border-radius: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}