/*-variable-*/
@import "./scss/abstracts/variable/variable";

/*-mixins-*/
@import "./scss/abstracts/mixins/mixins";

/*-elements-*/
@import "./scss/abstracts/elements/elements";

/*-base-*/
@import "./scss/base/fonts";

.container{
	max-width: 1200px;
	margin:0 auto;
	padding: 0 15px;
}
