@import "./../../../scss/abstracts/variable/variable";
@import "./../../../scss/abstracts/mixins/mixins";
@import "./../../../scss/abstracts/elements/elements";
@import "./../../../scss/base/fonts";


.wrapper {
    @extend %flexCenter;
    flex-direction: column;
    max-width: 270px;
    height: 403px;
    border: 1px solid #E0E0E0;
    position: relative;
}

.sale {
    @extend %pos-abs;
    width: 63px;
    height: 25px;
    background-color: $sub-color;
    @extend %flexCenter;

    @include font4(12px, 14px, $SFProRegular, #FFFFFF);
    font-weight: 400;
    letter-spacing: 0.07em;
}

.like {
    position: absolute;
    right: 18px;
    top: 16px;
}

.wrapImg {
    @extend %flexCenter;
    margin-top: 14px;
    width: 200px;
    height: 200px;;
}

.text {
    @include font4(18px, 21px, $SFProRegular, $main-color);
    letter-spacing: 0em;
    text-align: center;

    @extend %flexCenter;
    padding: 0 20px 0 20px;
    margin: 11px 0 23px;
    height: 50px;
    width: 230px;
}

.textPrice {
    @include font4(30px, 36px, $Barlow, $main-color);
    font-weight: bold;

    @extend %flexCenter;
    height: 36px;
    width: 117px;
} 

.btnCart {
    background-color: $sub-color;
    width: 60px;
    height: 40px;
    border-radius: 10px 0px 0px 0px;
    position: absolute;
    right: 0;
    bottom: 0;
}
