@import "./../../../scss/abstracts/variable/variable";
@import "./../../../scss/abstracts/mixins/mixins";
@import "./../../../scss/abstracts/elements/elements";
@import "./../../../scss/base/fonts";


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 270px;
    height: 400px;
	 padding: 60px 0 30px;
    border: 1px solid #E0E0E0;
    position: relative;
}

.like {
    position: absolute;
    right: 18px;
    top: 16px;
}

.image {
	flex-grow: 1;
	margin-bottom: 12px;
   width: max-content;
}

.name {
    max-width: 70%;
    // height: 50px;
    @extend %flexCenter;
    @include font4(20px, 24px, $SFProRegular, $main-color);
    text-align: center;
}

.absent {
    @include font4(18px, 21px, $SFProRegular, $main-color);
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 13px;
}

.message {
    @include font4(16px, 19px, $SFProRegular, $sub-color);

    &:hover {
        text-decoration: underline;
    }
}

.price {
    @include font4(30px, 36px, $Barlow, $main-color);
    font-weight: bold;
    @extend %flexCenter;
}

.btnCart {
    background-color: $sub-color;
    width: 60px;
    height: 40px;
    border-radius: 10px 0px 0px 0px;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media screen and(max-width:992px) {
    .name {
        font-size: 25px;
    }
    
    .image {
        width: auto;
    }

    .price {
        font-size: 35px;
    }
}

