@import "./../../../scss/abstracts/variable/variable";
@import "./../../../scss/abstracts/mixins/mixins";
@import "./../../../scss/abstracts/elements/elements";
@import "./../../../scss/base/fonts";


.wrapper {
    @extend %flexCenter;
    flex-direction: column;
    max-width: 270px;
    height: 403px;
    border: 1px solid #E0E0E0;
    position: relative;
}

.sale {
    @extend %pos-abs;
    width: 63px;
    height: 25px;
    background-color: $sub-color;
    @extend %flexCenter;

    @include font4(12px, 14px, $SFProRegular, #FFFFFF);
    font-weight: 400;
    letter-spacing: 0.07em;
}

.like {
    position: absolute;
    right: 18px;
    top: 16px;
}

.imageWrap{
    margin-top: 10px;
}

.image {
    @extend %flexCenter;
    // margin-top: 10px;
    width: 200px;
    height: 200px;
    background-size: contain;
}

.name, 
.absent {
    @include font4(18px, 21px, $SFProRegular, $main-color);
    text-align: center;
}

.name {
    @extend %flexCenter;
    padding: 0 20px 0 20px;
    margin-top: 12px;
    height: 50px;
    width: 230px;
}

.absent {
    font-weight: bold;
    margin: 10px 0px 13px;
}

.message {
    @include font4(16px, 19px, $SFProRegular, $sub-color);

    &:hover {
        text-decoration: underline;
    }
}

.price {
    @include font4(30px, 36px, $Barlow, $main-color);
    font-weight: bold;

    @extend %flexCenter;
    height: 36px;
    margin-top: 23px;
}

.btnCart {
    background-color: $sub-color;
    width: 60px;
    height: 40px;
    border-radius: 10px 0px 0px 0px;
    position: absolute;
    right: 0;
    bottom: 0;
}
